<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />
    <style>
      table th {
        cursor: pointer !important;
      }
      .text-right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div class="ui container">
      <div class="ui inverted pointing menu" id="top">
        <a class="<%- orgName === 'bcgov' ? 'active' : '' %> item" href="/github-optimization"> bcgov </a>
        <a class="<%- orgName === 'bcdevops' ? 'active' : '' %> item" href="/github-optimization/bcdevops">
          BCDevOps
        </a>
      </div>

      <p>
        * The below data was collected for the
        <a href="https://github.com/<%- orgName %>" target="_blank"><%- orgName %></a> GitHub organization repositories
        at a specific time and does not display live data.
      </p>
      <p>* You can find the master data file located in <a href="<%- sourceUrl %>" target="_blank">here.</a></p>
      <p>* The blank fields are empty data.</a></p>

      <h3>On this page:</h3>
      <div class="ui bulleted list">
        <% _.forEach(groups, (val) => { %>
        <a class="item" href="#<%- val.name %>"><%- val.name %></a>
        <% }); %>
      </div>

      <% _.forEach(groups, (val) => { %> <% const sorted = _.orderBy(val.value, [val.sortBy], [val.sortOrder]); %>

      <h3 id="<%- val.name %>"><a href="#<%- val.name %>"># <%- val.name %></a></h3>

      <table class="ui celled compact table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="right aligned">Count</th>
            <th class="right aligned">Percentage (%)</th>
          </tr>
        </thead>
        <tbody>
          <% _.forEach(sorted, (val) => { %>
          <tr>
            <td><%- val.name %></td>
            <td class="right aligned"><%- val.value %></td>
            <td class="right aligned"><%- val.perc %> %</td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <canvas
        class="chart"
        height="<%- val.chartType === 'bar' ? 150 : sorted.length * 6 + 15 %>"
        data-label="<%- JSON.stringify(sorted.map(v => v.name)) %>"
        data-data="<%- JSON.stringify(sorted.map(v => v.value)) %>"
        data-type="<%- val.chartType %>"
        data-title="<%- val.name %>"
      ></canvas>

      <h4 class="text-right"><a href="#top">Go to Top</a></h4>

      <hr />
      <% }); %>
    </div>
  </body>
  <footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
      integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
      crossorigin="anonymous"
    ></script>
    <script>
      var tryToNumber = function (val) {
        var num = Number(val);
        return isNaN(num) ? val : num;
      };

      jQuery.fn.sortElements = (function () {
        var sort = [].sort;

        return function (comparator, getSortable) {
          getSortable =
            getSortable ||
            function () {
              return this;
            };

          var placements = this.map(function () {
            var sortElement = getSortable.call(this),
              parentNode = sortElement.parentNode,
              nextSibling = parentNode.insertBefore(document.createTextNode(''), sortElement.nextSibling);

            return function () {
              if (parentNode === this) {
                throw new Error("You can't sort elements if any one is a descendant of another.");
              }

              parentNode.insertBefore(this, nextSibling);
              parentNode.removeChild(nextSibling);
            };
          });

          return sort.call(this, comparator).each(function (i) {
            placements[i].call(getSortable.call(this));
          });
        };
      })();

      $('table').each(function () {
        var _table = $(this);

        _table
          .find('th')
          .wrapInner('<span title="sort this column"/>')
          .each(function () {
            var th = $(this),
              thIndex = th.index(),
              inverse = false;

            th.click(function () {
              _table
                .find('td')
                .filter(function () {
                  return $(this).index() === thIndex;
                })
                .sortElements(
                  function (a, b) {
                    var at = $.text([a]);
                    var bt = $.text([b]);

                    if (at.endsWith('%')) at = at.slice(0, -1);
                    if (bt.endsWith('%')) bt = bt.slice(0, -1);

                    var an = tryToNumber(at);
                    var bn = tryToNumber(bt);

                    return an > bn ? (inverse ? -1 : 1) : inverse ? 1 : -1;
                  },
                  function () {
                    return this.parentNode;
                  }
                );

              inverse = !inverse;
            });
          });
      });
    </script>

    <script>
      var ctx = $('.chart');

      for (var x = 0; x < ctx.length; x++) {
        var ct = $(ctx[x]);
        var labels = ct.data().label;
        var data = ct.data().data;
        var type = ct.data().type;
        var title = ct.data().title;

        var backgroundColor = [];
        var borderColor = [];

        var colors = data.forEach(function (v) {
          var color = getRandomColor();
          backgroundColor.push(color);
          borderColor.push(color);
        });

        var chart = new Chart(ctx[x], {
          type: type,
          data: {
            labels: labels,
            datasets: [
              {
                label: null,
                data: data,
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                borderWidth: 1,
                hoverOffset: 10,
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: title,
            },
            legend: {
              display: false,
            },
            tooltips: {
              enabled: true,
            },
          },
        });
      }

      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }
    </script>
  </footer>
</html>
